In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
file_names = sorted((f for f in os.listdir('./Data') if not f.startswith("~")), key=str.lower)
len(file_names)
df1 = pd.DataFrame(data=[],columns=['Issue key','Description','orig_file'])

In [ ]:
total=0

In [ ]:
len(file_names)

77

In [ ]:
for f in file_names:
    df = pd.read_excel(f'./Data/{f}',header=None)
    df.columns = df.iloc[0]
    df = df[1:]
    total+=len(df)
total

9982

In [ ]:
# Task 1

In [ ]:
for f in file_names:
    df = pd.read_excel(f'./Data/{f}',header=None)
    df.columns = df.iloc[0]
    df = df[1:]
    df = df[['Issue key','Description']]
    df['orig_file'] = f
    df1 = pd.concat([df,df1])

In [ ]:
df1.to_excel('done.xlsx')

In [ ]:
comm = [
        'Issue key',
        'Comment']

In [ ]:
# Task 2

In [ ]:
important_shit = [
        'Issue key',
        'Inward issue link (Blocks)',
        'Outward issue link (Blocks)',
        'Inward issue link (Duplicate)',
        'Inward issue link (Problem/Incident)',
        'Inward issue link (Relates)',
        'Outward issue link (Relates)']

In [ ]:
df2 = pd.read_excel(f'./Data/{file_names[0]}',header=None)
df2.columns = df2.iloc[0]
df2 = df2[1:]

In [ ]:
df2 = pd.read_excel(f'./Data/{file_names[0]}',header=None)
df2.columns = df2.iloc[0]
df2 = df2[1:]
df2 = df2[df2.columns[df2.columns.isin(important_shit)]]
df2 = df2.fillna('')
df2 = df2.astype(str).groupby(df2.columns, axis=1).agg(lambda x: x.apply(';'.join, 1))
#for n in range(100):
#    df2 = df2.apply(lambda x: x.str.replace(n*';',';'))
df2['orig_file'] = f

In [ ]:
for f in file_names[1:]:
    df = pd.read_excel(f'./Data/{f}',header=None)
    df.columns = df.iloc[0]
    df = df[1:]
    df = df[df.columns[df.columns.isin(important_shit)]]
    df = df.fillna('')
    df = df.astype(str).groupby(df.columns, axis=1).agg(lambda x: x.apply(';'.join, 1))
#    for n in range(100):
#        df = df.apply(lambda x: x.str.replace(n*';',';'))
    df['orig_file'] = f
    df2 = pd.concat([df,df2])

In [ ]:
# NEXT

In [ ]:
df2 = pd.read_excel(f'./Data/{file_names[0]}',header=None)
df2.columns = df2.iloc[0]
df2 = df2[1:]

In [ ]:
df2 = pd.read_excel(f'./Data/{file_names[0]}',header=None)
df2.columns = df2.iloc[0]
df2 = df2[1:]
df2 = df2[df2.columns[df2.columns.isin(comm)]]
df2 = df2.fillna('')
df2 = df2.astype(str).groupby(df2.columns, axis=1).agg(lambda x: x.apply(';'.join, 1))
#for n in range(100):
#    df2 = df2.apply(lambda x: x.str.replace(n*';',';'))
df2['orig_file'] = f

In [ ]:
for f in file_names[1:]:
    df = pd.read_excel(f'./Data/{f}',header=None)
    df.columns = df.iloc[0]
    df = df[1:]
    df = df[df.columns[df.columns.isin(comm)]]
    df = df.fillna('')
    df = df.astype(str).groupby(df.columns, axis=1).agg(lambda x: x.apply(';'.join, 1))
#    for n in range(100):
#        df = df.apply(lambda x: x.str.replace(n*';',';'))
    df['orig_file'] = f
    df2 = pd.concat([df,df2])

In [ ]:
df2

0                                              Comment   Issue key  orig_file
1    11/May/22 9:50 AM;qm:5ec7bcae-0f21-4b3a-bc91-9...  CLS-260842  set9.xlsx
2    26/May/22 10:58 AM;5aeb5ef0bda65b2df5178748;Hi...  CLS-260839  set9.xlsx
3    11/May/22 9:43 AM;qm:5ec7bcae-0f21-4b3a-bc91-9...  CLS-260838  set9.xlsx
4    11/May/22 9:35 AM;qm:5ec7bcae-0f21-4b3a-bc91-9...  CLS-260832  set9.xlsx
5    11/May/22 9:27 AM;qm:5ec7bcae-0f21-4b3a-bc91-9...  CLS-260813  set9.xlsx
..                                                 ...         ...        ...
124  12/Oct/21 2:50 PM;qm:5ec7bcae-0f21-4b3a-bc91-9...  CLS-147314  set9.xlsx
125  24/Sep/21 3:16 PM;qm:5ec7bcae-0f21-4b3a-bc91-9...  CLS-139826  set9.xlsx
126  08/Jul/21 4:38 AM;5aeb9084de21d42c227fc9ab;[^F...  CLS-110742  set9.xlsx
127  21/Apr/21 12:01 PM;5ace2133baaf152a7655d21f;\n...   CLS-84503  set9.xlsx
128  03/Nov/20 8:57 AM;qm:5ec7bcae-0f21-4b3a-bc91-9...   CLS-16861  set9.xlsx

[9982 rows x 3 columns]

In [ ]:
df2.to_excel('fucknme.xlsx')

In [ ]:
(df2.set_index(['Comment'])
   .apply(lambda x: x.str.split(';').explode())
   .reset_index())

0                                               Comment   Issue key  orig_file
0     11/May/22 9:50 AM;qm:5ec7bcae-0f21-4b3a-bc91-9...  CLS-260842  set9.xlsx
1     26/May/22 10:58 AM;5aeb5ef0bda65b2df5178748;Hi...  CLS-260839  set9.xlsx
2     11/May/22 9:43 AM;qm:5ec7bcae-0f21-4b3a-bc91-9...  CLS-260838  set9.xlsx
3     11/May/22 9:35 AM;qm:5ec7bcae-0f21-4b3a-bc91-9...  CLS-260832  set9.xlsx
4     11/May/22 9:27 AM;qm:5ec7bcae-0f21-4b3a-bc91-9...  CLS-260813  set9.xlsx
...                                                 ...         ...        ...
9977  12/Oct/21 2:50 PM;qm:5ec7bcae-0f21-4b3a-bc91-9...  CLS-147314  set9.xlsx
9978  24/Sep/21 3:16 PM;qm:5ec7bcae-0f21-4b3a-bc91-9...  CLS-139826  set9.xlsx
9979  08/Jul/21 4:38 AM;5aeb9084de21d42c227fc9ab;[^F...  CLS-110742  set9.xlsx
9980  21/Apr/21 12:01 PM;5ace2133baaf152a7655d21f;\n...   CLS-84503  set9.xlsx
9981  03/Nov/20 8:57 AM;qm:5ec7bcae-0f21-4b3a-bc91-9...   CLS-16861  set9.xlsx

[9982 rows x 3 columns]

In [ ]:
df2['Comment2']= df2['Comment'].str.split(";")

In [327]:
df3 = df2.apply(pd.explode)

In [ ]:
df3

set1.xlsx
set10.xlsx
set11.xlsx
set12.xlsx
set13.xlsx
set14.xlsx
set15.xlsx
set16.xlsx
set17.xlsx
set18.xlsx
set19.xlsx
set2.xlsx
set20.xlsx
set21.xlsx
set22.xlsx
set23.xlsx
set24.xlsx
set25.xlsx
set26.xlsx
set27.xlsx
set28.xlsx
set29.xlsx
set3.xlsx
set30.xlsx
set31.xlsx
set32.xlsx
set33.xlsx
set34.xlsx
set35.xlsx
set36.xlsx
set37.xlsx
set38.xlsx
set39.xlsx
set4.xlsx
set40.xlsx
set41.xlsx
set42.xlsx
set43.xlsx
set44.xlsx
set45.xlsx
set46.xlsx
set47.xlsx
set48.xlsx
set49.xlsx
set5.xlsx
set50.xlsx
set51.xlsx
set52.xlsx
set53.xlsx
set54.xlsx
set55.xlsx
set56.xlsx
set57.xlsx
set58.xlsx
set59.xlsx
set6.xlsx
set60.xlsx
set61.xlsx
set62.xlsx
set63.xlsx
set64.xlsx
set65.xlsx
set66.xlsx
set67.xlsx
set68.xlsx
set69.xlsx
set7.xlsx
set70.xlsx
set71.xlsx
set72.xlsx
set73.xlsx
set74.xlsx
set75.xlsx
set76.xlsx
set77.xlsx
set8.xlsx
set9.xlsx

In [ ]:
df1

      Issue key                                        Description orig_file
1    CLS-260842  {color:#1F497D}Hi @ClientSupport{color} \n\n{c...    9.xlsx
2    CLS-260839  To view this email as a web page, [click here|...    9.xlsx
3    CLS-260838  -- \n\n\n\n\n\n\n\n\n\n!https://ci3.googleuser...    9.xlsx
4    CLS-260832  Dear Onyx team,\n\nMy name is Andrea and I'm a...    9.xlsx
5    CLS-260813  Good afternoon from Bcd Travel Italy \n\n  \n\...    9.xlsx
..          ...                                                ...       ...
124  CLS-147314  Hello, \n\n  \n\nCould you please advise which...    1.xlsx
125  CLS-139826  Thank you for sharing the details Ivan. \n\n  ...    1.xlsx
126  CLS-110742  \n\nFrom: Justin Style <jstyle@tfehotels.com> ...    1.xlsx
127   CLS-84503  Hi team, \n  \nPlease assist request below.  \...    1.xlsx
128   CLS-16861  Dear Catherine\nI receive this instructions, a...    1.xlsx

[9878 rows x 3 columns]

In [ ]:
df1.to_csv('done.csv')

In [ ]:
df1

      Issue key                                        Description orig_file
1    CLS-260842  {color:#1F497D}Hi @ClientSupport{color} \n\n{c...    9.xlsx
2    CLS-260839  To view this email as a web page, [click here|...    9.xlsx
3    CLS-260838  -- \n\n\n\n\n\n\n\n\n\n!https://ci3.googleuser...    9.xlsx
4    CLS-260832  Dear Onyx team,\n\nMy name is Andrea and I'm a...    9.xlsx
5    CLS-260813  Good afternoon from Bcd Travel Italy \n\n  \n\...    9.xlsx
..          ...                                                ...       ...
124  CLS-147314  Hello, \n\n  \n\nCould you please advise which...    1.xlsx
125  CLS-139826  Thank you for sharing the details Ivan. \n\n  ...    1.xlsx
126  CLS-110742  \n\nFrom: Justin Style <jstyle@tfehotels.com> ...    1.xlsx
127   CLS-84503  Hi team, \n  \nPlease assist request below.  \...    1.xlsx
128   CLS-16861  Dear Catherine\nI receive this instructions, a...    1.xlsx

[9878 rows x 3 columns]

In [ ]:
inward = 'Inward issue link (Blocks)'

In [ ]:
total = 0

In [ ]:
total

9878

In [ ]:
df = df.astype(str).groupby(df.columns, axis=1).agg(lambda x: x.apply(';'.join, 1))

In [ ]:
#2

10.xlsx
11.xlsx
12.xlsx
13.xlsx
14.xlsx
15.xlsx
16.xlsx
17.xlsx
18.xlsx
19.xlsx
2.xlsx
20.xlsx
21.xlsx
22.xlsx
23.xlsx
24.xlsx
25.xlsx
26.xlsx
27.xlsx
28.xlsx
29.xlsx
3.xlsx
30.xlsx
31.xlsx
32.xlsx
33.xlsx
34.xlsx
35.xlsx
36.xlsx
37.xlsx
38.xlsx
39.xlsx
4.xlsx
40.xlsx
41.xlsx
42.xlsx
43.xlsx
44.xlsx
45.xlsx
46.xlsx
47.xlsx
48.xlsx
49.xlsx
5.xlsx
50.xlsx
51.xlsx
52.xlsx
53.xlsx
54.xlsx
55.xlsx
56.xlsx
57.xlsx
58.xlsx
59.xlsx
6.xlsx
60.xlsx
61.xlsx
62.xlsx
63.xlsx
64.xlsx
65.xlsx
66.xlsx
67.xlsx
68.xlsx
69.xlsx
7.xlsx
70.xlsx
71.xlsx
72.xlsx
73.xlsx
74.xlsx
75.xlsx
76.xlsx
8.xlsx
9.xlsx

In [ ]:
df = df.astype(str).groupby(df.columns, axis=1).agg(lambda x: x.apply(';'.join, 1))

In [ ]:
df = pd.read_excel(f'./Data/{f}',header=None)
df.columns = df.iloc[0]
df = df[1:]

In [ ]:
df10 = df[df.columns[df.columns.isin(important_shit)]]

In [ ]:
df10 = df10.astype(str).groupby(df10.columns, axis=1).agg(lambda x: x.apply(';'.join, 1))

In [ ]:
df10 = df10.apply(lambda x: x.str.replace(';',''))

,Inward issue link (Blocks),Inward issue link (Duplicate),Inward issue link (Problem/Incident),Inward issue link (Relates),Issue key,Outward issue link (Blocks),Outward issue link (Duplicate),Outward issue link (Relates),orig_file
1,;;;;;;;;,,;;;;;;;;,,CLS-260842,;;;,,;;;,9.xlsx
2,;;;;;;;;,,;;;;;;;;,,CLS-260839,;;;,,;;;,9.xlsx
3,;;;;;;;;,,;;;;;;;;,,CLS-260838,;;;,,;;;,9.xlsx
4,;;;;;;;;,,;;;;;;;;,,CLS-260832,;;;,,GO-136878;;GO-136878;,9.xlsx
5,;;;;;;;;,,;;;;;;;;,,CLS-260813,;;;,,;;;,9.xlsx
...,...,...,...,...,...,...,...,...,...
124,;;;,,;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;,;;;;;;;;;;;;;;;;;;;;;;;;,CLS-147314,;;;;;;;;,NaN,GO-116883;;;;;GO-116883;;;;;GO-116883;;;;;GO-1...,1.xlsx
125,;;;,,GO-115392;;;;;;GO-115392;;;;;;GO-115392;;;;;;G...,;;;;;;;;;;;;;;;;;;;;;;;;,CLS-139826,;;;;;;;;,NaN,GO-118583;;;;;GO-118583;;;;;GO-118583;;;;;GO-1...,1.xlsx
126,CLS-241888;;CLS-241888;,,;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;,CLS-29518;CLS-3049;GO-80933;CLS-54652;GO-12037...,CLS-110742,;;;;;;;;,NaN,CLS-120517;GO-119101;;;;CLS-120517;GO-119101;;...,1.xlsx
127,;;;,,;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;,;;;;;;;;;;;;;;;;;;;;;;;;,CLS-84503,;;;;;;;;,NaN,GO-100562;GO-101511;;;;GO-100562;GO-101511;;;;...,1.xlsx
128,;;;,,GO-85773;;;;;;GO-85773;;;;;;GO-85773;;;;;;GO-8...,;;;;;;;;;;;;;;;;;;;;;;;;,CLS-16861,;;;;;;;;,NaN,GO-99981;;;;;GO-99981;;;;;GO-99981;;;;;GO-9998...,1.xlsx

,Inward issue link (Blocks),Inward issue link (Duplicate),Inward issue link (Problem/Incident),Inward issue link (Relates),Outward issue link (Blocks),Outward issue link (Duplicate),Outward issue link (Relates),orig_file
1,,,,,,,,9.xlsx
2,,,,,,,,9.xlsx
3,,,,,,,,9.xlsx
4,,,,,,,GO-136878GO-136878,9.xlsx
5,,,,,,,,9.xlsx
...,...,...,...,...,...,...,...,...
124,,,,,,NaN,GO-116883GO-116883GO-116883GO-116883GO-116883,1.xlsx
125,,,GO-115392GO-115392GO-115392GO-115392GO-115392G...,,,NaN,GO-118583GO-118583GO-118583GO-118583GO-118583,1.xlsx
126,CLS-241888CLS-241888,,,CLS-29518CLS-3049GO-80933CLS-54652GO-120379CLS...,,NaN,CLS-120517GO-119101CLS-120517GO-119101CLS-1205...,1.xlsx
127,,,,,,NaN,GO-100562GO-101511GO-100562GO-101511GO-100562G...,1.xlsx
128,,,GO-85773GO-85773GO-85773GO-85773GO-85773GO-85773,,,NaN,GO-99981GO-99981GO-99981GO-99981GO-99981,1.xlsx

In [ ]:
re.sub(r'(.)\1+', r'\1', '12233322155552')

'1232152'

['10.xlsx',
 '11.xlsx',
 '12.xlsx',
 '13.xlsx',
 '14.xlsx',
 '15.xlsx',
 '16.xlsx',
 '17.xlsx',
 '18.xlsx',
 '19.xlsx',
 '2.xlsx',
 '20.xlsx',
 '21.xlsx',
 '22.xlsx',
 '23.xlsx',
 '24.xlsx',
 '25.xlsx',
 '26.xlsx',
 '27.xlsx',
 '28.xlsx',
 '29.xlsx',
 '3.xlsx',
 '30.xlsx',
 '31.xlsx',
 '32.xlsx',
 '33.xlsx',
 '34.xlsx',
 '35.xlsx',
 '36.xlsx',
 '37.xlsx',
 '38.xlsx',
 '39.xlsx',
 '4.xlsx',
 '40.xlsx',
 '41.xlsx',
 '42.xlsx',
 '43.xlsx',
 '44.xlsx',
 '45.xlsx',
 '46.xlsx',
 '47.xlsx',
 '48.xlsx',
 '49.xlsx',
 '5.xlsx',
 '50.xlsx',
 '51.xlsx',
 '52.xlsx',
 '53.xlsx',
 '54.xlsx',
 '55.xlsx',
 '56.xlsx',
 '57.xlsx',
 '58.xlsx',
 '59.xlsx',
 '6.xlsx',
 '60.xlsx',
 '61.xlsx',
 '62.xlsx',
 '63.xlsx',
 '64.xlsx',
 '65.xlsx',
 '66.xlsx',
 '67.xlsx',
 '68.xlsx',
 '69.xlsx',
 '7.xlsx',
 '70.xlsx',
 '71.xlsx',
 '72.xlsx',
 '73.xlsx',
 '74.xlsx',
 '75.xlsx',
 '76.xlsx',
 '8.xlsx',
 '9.xlsx']

,Inward issue link (Blocks),Inward issue link (Duplicate),Inward issue link (Problem/Incident),Inward issue link (Relates),Issue key,Outward issue link (Blocks),Outward issue link (Duplicate),Outward issue link (Relates),orig_file
1,,,,,CLS-260842,,,,9.xlsx
2,,,,,CLS-260839,,,,9.xlsx
3,,,,,CLS-260838,,,,9.xlsx
4,,,,,CLS-260832,,,GO-136878GO-136878,9.xlsx
5,,,,,CLS-260813,,,,9.xlsx
...,...,...,...,...,...,...,...,...,...
124,,,,,CLS-147314,,NaN,GO-116883GO-116883GO-116883GO-116883GO-116883,1.xlsx
125,,,GO-115392GO-115392GO-115392GO-115392GO-115392G...,,CLS-139826,,NaN,GO-118583GO-118583GO-118583GO-118583GO-118583,1.xlsx
126,CLS-241888CLS-241888,,,CLS-29518CLS-3049GO-80933CLS-54652GO-120379CLS...,CLS-110742,,NaN,CLS-120517GO-119101CLS-120517GO-119101CLS-1205...,1.xlsx
127,,,,,CLS-84503,,NaN,GO-100562GO-101511GO-100562GO-101511GO-100562G...,1.xlsx
128,,,GO-85773GO-85773GO-85773GO-85773GO-85773GO-85773,,CLS-16861,,NaN,GO-99981GO-99981GO-99981GO-99981GO-99981,1.xlsx

set1.xlsx
set10.xlsx
set11.xlsx
set12.xlsx
set13.xlsx
set14.xlsx
set15.xlsx
set16.xlsx
set17.xlsx
set18.xlsx
set19.xlsx
set2.xlsx
set20.xlsx
set21.xlsx
set22.xlsx
set23.xlsx
set24.xlsx
set25.xlsx
set26.xlsx
set27.xlsx
set28.xlsx
set29.xlsx
set3.xlsx
set30.xlsx
set31.xlsx
set32.xlsx
set33.xlsx
set34.xlsx
set35.xlsx
set36.xlsx
set37.xlsx
set38.xlsx
set39.xlsx
set4.xlsx
set40.xlsx
set41.xlsx
set42.xlsx
set43.xlsx
set44.xlsx
set45.xlsx
set46.xlsx
set47.xlsx
set48.xlsx
set49.xlsx
set5.xlsx
set50.xlsx
set51.xlsx
set52.xlsx
set53.xlsx
set54.xlsx
set55.xlsx
set56.xlsx
set57.xlsx
set58.xlsx
set59.xlsx
set6.xlsx
set60.xlsx
set61.xlsx
set62.xlsx
set63.xlsx
set64.xlsx
set65.xlsx
set66.xlsx
set67.xlsx
set68.xlsx
set69.xlsx
set7.xlsx
set70.xlsx
set71.xlsx
set72.xlsx
set73.xlsx
set74.xlsx
set75.xlsx
set76.xlsx
set77.xlsx
set8.xlsx
set9.xlsx

In [ ]:
df1

      Issue key                                        Description orig_file
1    CLS-260842  {color:#1F497D}Hi @ClientSupport{color} \n\n{c...    9.xlsx
2    CLS-260839  To view this email as a web page, [click here|...    9.xlsx
3    CLS-260838  -- \n\n\n\n\n\n\n\n\n\n!https://ci3.googleuser...    9.xlsx
4    CLS-260832  Dear Onyx team,\n\nMy name is Andrea and I'm a...    9.xlsx
5    CLS-260813  Good afternoon from Bcd Travel Italy \n\n  \n\...    9.xlsx
..          ...                                                ...       ...
124  CLS-147314  Hello, \n\n  \n\nCould you please advise which...    1.xlsx
125  CLS-139826  Thank you for sharing the details Ivan. \n\n  ...    1.xlsx
126  CLS-110742  \n\nFrom: Justin Style <jstyle@tfehotels.com> ...    1.xlsx
127   CLS-84503  Hi team, \n  \nPlease assist request below.  \...    1.xlsx
128   CLS-16861  Dear Catherine\nI receive this instructions, a...    1.xlsx

[9878 rows x 3 columns]

In [ ]:
df1.to_csv('done.csv')

In [ ]:
df1

      Issue key                                        Description orig_file
1    CLS-260842  {color:#1F497D}Hi @ClientSupport{color} \n\n{c...    9.xlsx
2    CLS-260839  To view this email as a web page, [click here|...    9.xlsx
3    CLS-260838  -- \n\n\n\n\n\n\n\n\n\n!https://ci3.googleuser...    9.xlsx
4    CLS-260832  Dear Onyx team,\n\nMy name is Andrea and I'm a...    9.xlsx
5    CLS-260813  Good afternoon from Bcd Travel Italy \n\n  \n\...    9.xlsx
..          ...                                                ...       ...
124  CLS-147314  Hello, \n\n  \n\nCould you please advise which...    1.xlsx
125  CLS-139826  Thank you for sharing the details Ivan. \n\n  ...    1.xlsx
126  CLS-110742  \n\nFrom: Justin Style <jstyle@tfehotels.com> ...    1.xlsx
127   CLS-84503  Hi team, \n  \nPlease assist request below.  \...    1.xlsx
128   CLS-16861  Dear Catherine\nI receive this instructions, a...    1.xlsx

[9878 rows x 3 columns]

In [ ]:
inward = 'Inward issue link (Blocks)'

In [ ]:
total = 0

In [ ]:
total

9878

In [ ]:
df = df.astype(str).groupby(df.columns, axis=1).agg(lambda x: x.apply(';'.join, 1))

In [ ]:
#2

10.xlsx
11.xlsx
12.xlsx
13.xlsx
14.xlsx
15.xlsx
16.xlsx
17.xlsx
18.xlsx
19.xlsx
2.xlsx
20.xlsx
21.xlsx
22.xlsx
23.xlsx
24.xlsx
25.xlsx
26.xlsx
27.xlsx
28.xlsx
29.xlsx
3.xlsx
30.xlsx
31.xlsx
32.xlsx
33.xlsx
34.xlsx
35.xlsx
36.xlsx
37.xlsx
38.xlsx
39.xlsx
4.xlsx
40.xlsx
41.xlsx
42.xlsx
43.xlsx
44.xlsx
45.xlsx
46.xlsx
47.xlsx
48.xlsx
49.xlsx
5.xlsx
50.xlsx
51.xlsx
52.xlsx
53.xlsx
54.xlsx
55.xlsx
56.xlsx
57.xlsx
58.xlsx
59.xlsx
6.xlsx
60.xlsx
61.xlsx
62.xlsx
63.xlsx
64.xlsx
65.xlsx
66.xlsx
67.xlsx
68.xlsx
69.xlsx
7.xlsx
70.xlsx
71.xlsx
72.xlsx
73.xlsx
74.xlsx
75.xlsx
76.xlsx
8.xlsx
9.xlsx

In [ ]:
df = df.astype(str).groupby(df.columns, axis=1).agg(lambda x: x.apply(';'.join, 1))

In [ ]:
df = pd.read_excel(f'./Data/{f}',header=None)
df.columns = df.iloc[0]
df = df[1:]

In [ ]:
df10 = df[df.columns[df.columns.isin(important_shit)]]

In [ ]:
df10 = df10.astype(str).groupby(df10.columns, axis=1).agg(lambda x: x.apply(';'.join, 1))

In [ ]:
df10 = df10.apply(lambda x: x.str.replace(';',''))

,Inward issue link (Blocks),Inward issue link (Duplicate),Inward issue link (Problem/Incident),Inward issue link (Relates),Issue key,Outward issue link (Blocks),Outward issue link (Duplicate),Outward issue link (Relates),orig_file
1,;;;;;;;;,,;;;;;;;;,,CLS-260842,;;;,,;;;,9.xlsx
2,;;;;;;;;,,;;;;;;;;,,CLS-260839,;;;,,;;;,9.xlsx
3,;;;;;;;;,,;;;;;;;;,,CLS-260838,;;;,,;;;,9.xlsx
4,;;;;;;;;,,;;;;;;;;,,CLS-260832,;;;,,GO-136878;;GO-136878;,9.xlsx
5,;;;;;;;;,,;;;;;;;;,,CLS-260813,;;;,,;;;,9.xlsx
...,...,...,...,...,...,...,...,...,...
124,;;;,,;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;,;;;;;;;;;;;;;;;;;;;;;;;;,CLS-147314,;;;;;;;;,NaN,GO-116883;;;;;GO-116883;;;;;GO-116883;;;;;GO-1...,1.xlsx
125,;;;,,GO-115392;;;;;;GO-115392;;;;;;GO-115392;;;;;;G...,;;;;;;;;;;;;;;;;;;;;;;;;,CLS-139826,;;;;;;;;,NaN,GO-118583;;;;;GO-118583;;;;;GO-118583;;;;;GO-1...,1.xlsx
126,CLS-241888;;CLS-241888;,,;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;,CLS-29518;CLS-3049;GO-80933;CLS-54652;GO-12037...,CLS-110742,;;;;;;;;,NaN,CLS-120517;GO-119101;;;;CLS-120517;GO-119101;;...,1.xlsx
127,;;;,,;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;,;;;;;;;;;;;;;;;;;;;;;;;;,CLS-84503,;;;;;;;;,NaN,GO-100562;GO-101511;;;;GO-100562;GO-101511;;;;...,1.xlsx
128,;;;,,GO-85773;;;;;;GO-85773;;;;;;GO-85773;;;;;;GO-8...,;;;;;;;;;;;;;;;;;;;;;;;;,CLS-16861,;;;;;;;;,NaN,GO-99981;;;;;GO-99981;;;;;GO-99981;;;;;GO-9998...,1.xlsx

,Inward issue link (Blocks),Inward issue link (Duplicate),Inward issue link (Problem/Incident),Inward issue link (Relates),Outward issue link (Blocks),Outward issue link (Duplicate),Outward issue link (Relates),orig_file
1,,,,,,,,9.xlsx
2,,,,,,,,9.xlsx
3,,,,,,,,9.xlsx
4,,,,,,,GO-136878GO-136878,9.xlsx
5,,,,,,,,9.xlsx
...,...,...,...,...,...,...,...,...
124,,,,,,NaN,GO-116883GO-116883GO-116883GO-116883GO-116883,1.xlsx
125,,,GO-115392GO-115392GO-115392GO-115392GO-115392G...,,,NaN,GO-118583GO-118583GO-118583GO-118583GO-118583,1.xlsx
126,CLS-241888CLS-241888,,,CLS-29518CLS-3049GO-80933CLS-54652GO-120379CLS...,,NaN,CLS-120517GO-119101CLS-120517GO-119101CLS-1205...,1.xlsx
127,,,,,,NaN,GO-100562GO-101511GO-100562GO-101511GO-100562G...,1.xlsx
128,,,GO-85773GO-85773GO-85773GO-85773GO-85773GO-85773,,,NaN,GO-99981GO-99981GO-99981GO-99981GO-99981,1.xlsx

In [ ]:
re.sub(r'(.)\1+', r'\1', '12233322155552')

'1232152'

['10.xlsx',
 '11.xlsx',
 '12.xlsx',
 '13.xlsx',
 '14.xlsx',
 '15.xlsx',
 '16.xlsx',
 '17.xlsx',
 '18.xlsx',
 '19.xlsx',
 '2.xlsx',
 '20.xlsx',
 '21.xlsx',
 '22.xlsx',
 '23.xlsx',
 '24.xlsx',
 '25.xlsx',
 '26.xlsx',
 '27.xlsx',
 '28.xlsx',
 '29.xlsx',
 '3.xlsx',
 '30.xlsx',
 '31.xlsx',
 '32.xlsx',
 '33.xlsx',
 '34.xlsx',
 '35.xlsx',
 '36.xlsx',
 '37.xlsx',
 '38.xlsx',
 '39.xlsx',
 '4.xlsx',
 '40.xlsx',
 '41.xlsx',
 '42.xlsx',
 '43.xlsx',
 '44.xlsx',
 '45.xlsx',
 '46.xlsx',
 '47.xlsx',
 '48.xlsx',
 '49.xlsx',
 '5.xlsx',
 '50.xlsx',
 '51.xlsx',
 '52.xlsx',
 '53.xlsx',
 '54.xlsx',
 '55.xlsx',
 '56.xlsx',
 '57.xlsx',
 '58.xlsx',
 '59.xlsx',
 '6.xlsx',
 '60.xlsx',
 '61.xlsx',
 '62.xlsx',
 '63.xlsx',
 '64.xlsx',
 '65.xlsx',
 '66.xlsx',
 '67.xlsx',
 '68.xlsx',
 '69.xlsx',
 '7.xlsx',
 '70.xlsx',
 '71.xlsx',
 '72.xlsx',
 '73.xlsx',
 '74.xlsx',
 '75.xlsx',
 '76.xlsx',
 '8.xlsx',
 '9.xlsx']

,Inward issue link (Blocks),Inward issue link (Duplicate),Inward issue link (Problem/Incident),Inward issue link (Relates),Issue key,Outward issue link (Blocks),Outward issue link (Duplicate),Outward issue link (Relates),orig_file
1,,,,,CLS-260842,,,,9.xlsx
2,,,,,CLS-260839,,,,9.xlsx
3,,,,,CLS-260838,,,,9.xlsx
4,,,,,CLS-260832,,,GO-136878GO-136878,9.xlsx
5,,,,,CLS-260813,,,,9.xlsx
...,...,...,...,...,...,...,...,...,...
124,,,,,CLS-147314,,NaN,GO-116883GO-116883GO-116883GO-116883GO-116883,1.xlsx
125,,,GO-115392GO-115392GO-115392GO-115392GO-115392G...,,CLS-139826,,NaN,GO-118583GO-118583GO-118583GO-118583GO-118583,1.xlsx
126,CLS-241888CLS-241888,,,CLS-29518CLS-3049GO-80933CLS-54652GO-120379CLS...,CLS-110742,,NaN,CLS-120517GO-119101CLS-120517GO-119101CLS-1205...,1.xlsx
127,,,,,CLS-84503,,NaN,GO-100562GO-101511GO-100562GO-101511GO-100562G...,1.xlsx
128,,,GO-85773GO-85773GO-85773GO-85773GO-85773GO-85773,,CLS-16861,,NaN,GO-99981GO-99981GO-99981GO-99981GO-99981,1.xlsx

In [ ]:
df1

      Issue key                                        Description orig_file
1    CLS-260842  {color:#1F497D}Hi @ClientSupport{color} \n\n{c...    9.xlsx
2    CLS-260839  To view this email as a web page, [click here|...    9.xlsx
3    CLS-260838  -- \n\n\n\n\n\n\n\n\n\n!https://ci3.googleuser...    9.xlsx
4    CLS-260832  Dear Onyx team,\n\nMy name is Andrea and I'm a...    9.xlsx
5    CLS-260813  Good afternoon from Bcd Travel Italy \n\n  \n\...    9.xlsx
..          ...                                                ...       ...
124  CLS-147314  Hello, \n\n  \n\nCould you please advise which...    1.xlsx
125  CLS-139826  Thank you for sharing the details Ivan. \n\n  ...    1.xlsx
126  CLS-110742  \n\nFrom: Justin Style <jstyle@tfehotels.com> ...    1.xlsx
127   CLS-84503  Hi team, \n  \nPlease assist request below.  \...    1.xlsx
128   CLS-16861  Dear Catherine\nI receive this instructions, a...    1.xlsx

[9878 rows x 3 columns]

In [ ]:
inward = 'Inward issue link (Blocks)'

In [ ]:
total = 0

In [ ]:
total

9878

In [ ]:
df = df.astype(str).groupby(df.columns, axis=1).agg(lambda x: x.apply(';'.join, 1))

In [ ]:
#2

10.xlsx
11.xlsx
12.xlsx
13.xlsx
14.xlsx
15.xlsx
16.xlsx
17.xlsx
18.xlsx
19.xlsx
2.xlsx
20.xlsx
21.xlsx
22.xlsx
23.xlsx
24.xlsx
25.xlsx
26.xlsx
27.xlsx
28.xlsx
29.xlsx
3.xlsx
30.xlsx
31.xlsx
32.xlsx
33.xlsx
34.xlsx
35.xlsx
36.xlsx
37.xlsx
38.xlsx
39.xlsx
4.xlsx
40.xlsx
41.xlsx
42.xlsx
43.xlsx
44.xlsx
45.xlsx
46.xlsx
47.xlsx
48.xlsx
49.xlsx
5.xlsx
50.xlsx
51.xlsx
52.xlsx
53.xlsx
54.xlsx
55.xlsx
56.xlsx
57.xlsx
58.xlsx
59.xlsx
6.xlsx
60.xlsx
61.xlsx
62.xlsx
63.xlsx
64.xlsx
65.xlsx
66.xlsx
67.xlsx
68.xlsx
69.xlsx
7.xlsx
70.xlsx
71.xlsx
72.xlsx
73.xlsx
74.xlsx
75.xlsx
76.xlsx
8.xlsx
9.xlsx

In [ ]:
df = df.astype(str).groupby(df.columns, axis=1).agg(lambda x: x.apply(';'.join, 1))

In [ ]:
df = pd.read_excel(f'./Data/{f}',header=None)
df.columns = df.iloc[0]
df = df[1:]

In [ ]:
df10 = df[df.columns[df.columns.isin(important_shit)]]

In [ ]:
df10 = df10.astype(str).groupby(df10.columns, axis=1).agg(lambda x: x.apply(';'.join, 1))

In [ ]:
df10 = df10.apply(lambda x: x.str.replace(';',''))

,Inward issue link (Blocks),Inward issue link (Duplicate),Inward issue link (Problem/Incident),Inward issue link (Relates),Issue key,Outward issue link (Blocks),Outward issue link (Duplicate),Outward issue link (Relates),orig_file
1,;;;;;;;;,,;;;;;;;;,,CLS-260842,;;;,,;;;,9.xlsx
2,;;;;;;;;,,;;;;;;;;,,CLS-260839,;;;,,;;;,9.xlsx
3,;;;;;;;;,,;;;;;;;;,,CLS-260838,;;;,,;;;,9.xlsx
4,;;;;;;;;,,;;;;;;;;,,CLS-260832,;;;,,GO-136878;;GO-136878;,9.xlsx
5,;;;;;;;;,,;;;;;;;;,,CLS-260813,;;;,,;;;,9.xlsx
...,...,...,...,...,...,...,...,...,...
124,;;;,,;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;,;;;;;;;;;;;;;;;;;;;;;;;;,CLS-147314,;;;;;;;;,NaN,GO-116883;;;;;GO-116883;;;;;GO-116883;;;;;GO-1...,1.xlsx
125,;;;,,GO-115392;;;;;;GO-115392;;;;;;GO-115392;;;;;;G...,;;;;;;;;;;;;;;;;;;;;;;;;,CLS-139826,;;;;;;;;,NaN,GO-118583;;;;;GO-118583;;;;;GO-118583;;;;;GO-1...,1.xlsx
126,CLS-241888;;CLS-241888;,,;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;,CLS-29518;CLS-3049;GO-80933;CLS-54652;GO-12037...,CLS-110742,;;;;;;;;,NaN,CLS-120517;GO-119101;;;;CLS-120517;GO-119101;;...,1.xlsx
127,;;;,,;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;,;;;;;;;;;;;;;;;;;;;;;;;;,CLS-84503,;;;;;;;;,NaN,GO-100562;GO-101511;;;;GO-100562;GO-101511;;;;...,1.xlsx
128,;;;,,GO-85773;;;;;;GO-85773;;;;;;GO-85773;;;;;;GO-8...,;;;;;;;;;;;;;;;;;;;;;;;;,CLS-16861,;;;;;;;;,NaN,GO-99981;;;;;GO-99981;;;;;GO-99981;;;;;GO-9998...,1.xlsx

,Inward issue link (Blocks),Inward issue link (Duplicate),Inward issue link (Problem/Incident),Inward issue link (Relates),Outward issue link (Blocks),Outward issue link (Duplicate),Outward issue link (Relates),orig_file
1,,,,,,,,9.xlsx
2,,,,,,,,9.xlsx
3,,,,,,,,9.xlsx
4,,,,,,,GO-136878GO-136878,9.xlsx
5,,,,,,,,9.xlsx
...,...,...,...,...,...,...,...,...
124,,,,,,NaN,GO-116883GO-116883GO-116883GO-116883GO-116883,1.xlsx
125,,,GO-115392GO-115392GO-115392GO-115392GO-115392G...,,,NaN,GO-118583GO-118583GO-118583GO-118583GO-118583,1.xlsx
126,CLS-241888CLS-241888,,,CLS-29518CLS-3049GO-80933CLS-54652GO-120379CLS...,,NaN,CLS-120517GO-119101CLS-120517GO-119101CLS-1205...,1.xlsx
127,,,,,,NaN,GO-100562GO-101511GO-100562GO-101511GO-100562G...,1.xlsx
128,,,GO-85773GO-85773GO-85773GO-85773GO-85773GO-85773,,,NaN,GO-99981GO-99981GO-99981GO-99981GO-99981,1.xlsx

In [ ]:
re.sub(r'(.)\1+', r'\1', '12233322155552')

'1232152'

['10.xlsx',
 '11.xlsx',
 '12.xlsx',
 '13.xlsx',
 '14.xlsx',
 '15.xlsx',
 '16.xlsx',
 '17.xlsx',
 '18.xlsx',
 '19.xlsx',
 '2.xlsx',
 '20.xlsx',
 '21.xlsx',
 '22.xlsx',
 '23.xlsx',
 '24.xlsx',
 '25.xlsx',
 '26.xlsx',
 '27.xlsx',
 '28.xlsx',
 '29.xlsx',
 '3.xlsx',
 '30.xlsx',
 '31.xlsx',
 '32.xlsx',
 '33.xlsx',
 '34.xlsx',
 '35.xlsx',
 '36.xlsx',
 '37.xlsx',
 '38.xlsx',
 '39.xlsx',
 '4.xlsx',
 '40.xlsx',
 '41.xlsx',
 '42.xlsx',
 '43.xlsx',
 '44.xlsx',
 '45.xlsx',
 '46.xlsx',
 '47.xlsx',
 '48.xlsx',
 '49.xlsx',
 '5.xlsx',
 '50.xlsx',
 '51.xlsx',
 '52.xlsx',
 '53.xlsx',
 '54.xlsx',
 '55.xlsx',
 '56.xlsx',
 '57.xlsx',
 '58.xlsx',
 '59.xlsx',
 '6.xlsx',
 '60.xlsx',
 '61.xlsx',
 '62.xlsx',
 '63.xlsx',
 '64.xlsx',
 '65.xlsx',
 '66.xlsx',
 '67.xlsx',
 '68.xlsx',
 '69.xlsx',
 '7.xlsx',
 '70.xlsx',
 '71.xlsx',
 '72.xlsx',
 '73.xlsx',
 '74.xlsx',
 '75.xlsx',
 '76.xlsx',
 '8.xlsx',
 '9.xlsx']

,Inward issue link (Blocks),Inward issue link (Duplicate),Inward issue link (Problem/Incident),Inward issue link (Relates),Issue key,Outward issue link (Blocks),Outward issue link (Duplicate),Outward issue link (Relates),orig_file
1,,,,,CLS-260842,,,,9.xlsx
2,,,,,CLS-260839,,,,9.xlsx
3,,,,,CLS-260838,,,,9.xlsx
4,,,,,CLS-260832,,,GO-136878GO-136878,9.xlsx
5,,,,,CLS-260813,,,,9.xlsx
...,...,...,...,...,...,...,...,...,...
124,,,,,CLS-147314,,NaN,GO-116883GO-116883GO-116883GO-116883GO-116883,1.xlsx
125,,,GO-115392GO-115392GO-115392GO-115392GO-115392G...,,CLS-139826,,NaN,GO-118583GO-118583GO-118583GO-118583GO-118583,1.xlsx
126,CLS-241888CLS-241888,,,CLS-29518CLS-3049GO-80933CLS-54652GO-120379CLS...,CLS-110742,,NaN,CLS-120517GO-119101CLS-120517GO-119101CLS-1205...,1.xlsx
127,,,,,CLS-84503,,NaN,GO-100562GO-101511GO-100562GO-101511GO-100562G...,1.xlsx
128,,,GO-85773GO-85773GO-85773GO-85773GO-85773GO-85773,,CLS-16861,,NaN,GO-99981GO-99981GO-99981GO-99981GO-99981,1.xlsx