In [8]:
import pandas as pd
import numpy as np
import os

In [90]:
file_names = sorted((f for f in os.listdir('./Data') if not f.startswith("~")), key=str.lower)
len(file_names)
df1 = pd.DataFrame(data=[],columns=['Issue key','Description','orig_file'])

In [65]:
for f in file_names:
    print(f)
    df = pd.read_excel(f'./Data/{f}',header=None)
    df.columns = df.iloc[0]
    df = df[1:]
    df = df[['Issue key','Description']]
    df['orig_file'] = f
    df1 = pd.concat([df,df1])

1.xlsx
10.xlsx
11.xlsx
12.xlsx
13.xlsx
14.xlsx
15.xlsx
16.xlsx
17.xlsx
18.xlsx
19.xlsx
2.xlsx
20.xlsx
21.xlsx
22.xlsx
23.xlsx
24.xlsx
25.xlsx
26.xlsx
27.xlsx
28.xlsx
29.xlsx
3.xlsx
30.xlsx
31.xlsx
32.xlsx
33.xlsx
34.xlsx
35.xlsx
36.xlsx
37.xlsx
38.xlsx
39.xlsx
4.xlsx
40.xlsx
41.xlsx
42.xlsx
43.xlsx
44.xlsx
45.xlsx
46.xlsx
47.xlsx
48.xlsx
49.xlsx
5.xlsx
50.xlsx
51.xlsx
52.xlsx
53.xlsx
54.xlsx
55.xlsx
56.xlsx
57.xlsx
58.xlsx
59.xlsx
6.xlsx
60.xlsx
61.xlsx
62.xlsx
63.xlsx
64.xlsx
65.xlsx
66.xlsx
67.xlsx
68.xlsx
69.xlsx
7.xlsx
70.xlsx
71.xlsx
72.xlsx
73.xlsx
74.xlsx
75.xlsx
76.xlsx
8.xlsx
9.xlsx

In [67]:
df1

      Issue key                                        Description orig_file
1    CLS-260842  {color:#1F497D}Hi @ClientSupport{color} \n\n{c...    9.xlsx
2    CLS-260839  To view this email as a web page, [click here|...    9.xlsx
3    CLS-260838  -- \n\n\n\n\n\n\n\n\n\n!https://ci3.googleuser...    9.xlsx
4    CLS-260832  Dear Onyx team,\n\nMy name is Andrea and I'm a...    9.xlsx
5    CLS-260813  Good afternoon from Bcd Travel Italy \n\n  \n\...    9.xlsx
..          ...                                                ...       ...
124  CLS-147314  Hello, \n\n  \n\nCould you please advise which...    1.xlsx
125  CLS-139826  Thank you for sharing the details Ivan. \n\n  ...    1.xlsx
126  CLS-110742  \n\nFrom: Justin Style <jstyle@tfehotels.com> ...    1.xlsx
127   CLS-84503  Hi team, \n  \nPlease assist request below.  \...    1.xlsx
128   CLS-16861  Dear Catherine\nI receive this instructions, a...    1.xlsx

[9878 rows x 3 columns]

In [68]:
df1.to_csv('done.csv')

In [69]:
df1.to_excel('done.xlsx')

In [70]:
df1

      Issue key                                        Description orig_file
1    CLS-260842  {color:#1F497D}Hi @ClientSupport{color} \n\n{c...    9.xlsx
2    CLS-260839  To view this email as a web page, [click here|...    9.xlsx
3    CLS-260838  -- \n\n\n\n\n\n\n\n\n\n!https://ci3.googleuser...    9.xlsx
4    CLS-260832  Dear Onyx team,\n\nMy name is Andrea and I'm a...    9.xlsx
5    CLS-260813  Good afternoon from Bcd Travel Italy \n\n  \n\...    9.xlsx
..          ...                                                ...       ...
124  CLS-147314  Hello, \n\n  \n\nCould you please advise which...    1.xlsx
125  CLS-139826  Thank you for sharing the details Ivan. \n\n  ...    1.xlsx
126  CLS-110742  \n\nFrom: Justin Style <jstyle@tfehotels.com> ...    1.xlsx
127   CLS-84503  Hi team, \n  \nPlease assist request below.  \...    1.xlsx
128   CLS-16861  Dear Catherine\nI receive this instructions, a...    1.xlsx

[9878 rows x 3 columns]

In [ ]:
inward = 'Inward issue link (Blocks)'

In [79]:
total = 0

In [80]:
for f in file_names:
    df = pd.read_excel(f'./Data/{f}',header=None)
    df.columns = df.iloc[0]
    df = df[1:]
    total+=len(df)

In [81]:
total

9878

In [ ]:
df = df.astype(str).groupby(df.columns, axis=1).agg(lambda x: x.apply(';'.join, 1))

In [85]:
#2

In [89]:
important_shit = [
        'Inward issue link (Blocks)',
        'Outward issue link (Blocks)',
        'Inward issue link (Duplicate)',
        'Outward issue link (Duplicate)',
        'Inward issue link (Problem/Incident)',
        'Inward issue link (Relates)',
        'Outward issue link (Relates)']

In [ ]:
    df = pd.read_excel(f'./Data/{f}',header=None)
    df.columns = df.iloc[0]
    df = df[1:]
    df10 = df[df.columns[df.columns.isin(important_shit)]]
    df10 = df10.fillna('')
    df10 = df10.astype(str).groupby(df10.columns, axis=1).agg(lambda x: x.apply(';'.join, 1))
    df10 = df10.apply(lambda x: x.str.replace(';',''))
    df['orig_file'] = f
    df1 = pd.concat([df,df1])

In [ ]:
for f in file_names:
    print(f)
    df = pd.read_excel(f'./Data/{f}',header=None)
    df.columns = df.iloc[0]
    df = df[1:]
    df10 = df[df.columns[df.columns.isin(important_shit)]]
    df10 = df10.fillna('')
    df10 = df10.astype(str).groupby(df10.columns, axis=1).agg(lambda x: x.apply(';'.join, 1))
    df10 = df10.apply(lambda x: x.str.replace(';',''))
    df['orig_file'] = f
    df1 = pd.concat([df,df1])

In [130]:
df10

,Inward issue link (Blocks),Inward issue link (Duplicate),Inward issue link (Problem/Incident),Inward issue link (Relates),Outward issue link (Blocks),Outward issue link (Duplicate),Outward issue link (Relates)
1,,,,,,,
2,,,,,,,
3,,,,,,,
4,,,,,,,GO-136878GO-136878
5,,,,,,,
...,...,...,...,...,...,...,...
126,GO-136119GO-136119GO-136119,,CLS-261809CLS-261809CLS-261809,,,,
127,,,GO-137158GO-137158GO-137158,,,,
128,,,,,,,
129,,,,,,,
130,,,,,,,